/*reset*/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*fonts*/
@font-face {
  font-family: "light";
  src:
    local("light"), local("Oswald-Light.woff2"),
    url("Oswald-Light.woff2");
}
@font-face {
  font-family: "regular";
  src:
    local("regular"), local("Oswald-Regular.woff2"),
    url("Oswald-Regular.woff2");
}
@font-face {
  font-family: "bold";
  src:
    local("bold"), local("Oswald-Bold.woff2"),
    url("Oswald-Bold.woff2");
}
/*classes*/
.light{
	font-family: "regular";
}
.regular{
	font-family: "regular";
}
.bold{
	font-family: "bold";
}

