/*reset*/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1{
  color: gold;
}

.font{
	font-family: 'Oswald'
}
@font-face{
	font-family: 'Oswald';
	url('../assets/Oswald-Regular.woff2');
}
