/*reset*/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1{
	color: green;
}

h2{
	color: lightgreen;
}

.regular{
	font-family: "regular";
}

.light{
	font-family: "light";
}

@font-face {
  font-family: "Oswald";
  src:
    local("Oswald"), local("Oswald-Regular.woff2"),
    url("Oswald-Regular.woff2");
}
